{% block title %}
    Lista studenata
{% endblock %}

{% block content %}
{% for user in users %}
    <div class="border border-steel mb-3 p-2">
        {{ user.username }}
        {{ user.first_name }}
        {{ user.last_name }}
        {{ user.status }}
        <a href="{% url 'edit_stud' user_id=user.id %}">Edit</a>
        <a href="{% url 'stud_details' user_id=user.id %}">Details</a>
    </div>
    {% endfor %}
    <a href="{% url 'home' user_id=user.id %}">Back to home</a>
{% endblock %}